.navbar-userMenu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 68px;
    border: solid 1px rgb(34, 34, 34);
    border-radius: 24px;

    &:hover{
        background-color: rgb(244, 241, 241);
        border-radius: 22px;
        cursor: pointer;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    }

}

.navbar-avatar{
    background-color: gray;
    padding: 6px;
    border-radius: 50%;
    color: white;
}
